@import 'reset';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

$a-font: 'Montserrat', sans-serif;

$a-colors-black: #111111;
$a-colors-gray: #1111117a;
$a-colors-gray-light: #F1F1F1;
$a-colors-gray-medium: #F2F2F2;
$a-colors-primary: #01A7FD;

body {
    font-family: $a-font;
}

.a-link {
    font: {
        size: 14px;
        weight: 400;
    }

    line-height: 24px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

    &_nav {
        color: $a-colors-gray;
        padding-bottom: 30px;

        &:hover {
            box-shadow: inset 0px -2px 0px #1111117A;
        }
    }

    &_action {
        color: $a-colors-primary;

        &:hover {
            box-shadow: inset 0px -2px 0px #01A7FD;
        }
    }
}

.router-link-active {
    font: {
        size: 16px;
        weight: 500;
    }

    color: $a-colors-black;
    box-shadow: inset 0px -2px 0px #01A7FD !important;
}

.a-heading {
    font: {
        size: 16px;
        weight: 500;
    }

    line-height: 24px;
    color: $a-colors-black;
}

.a-text-regular {
    font: {
        size: 14px;
        weight: 400;
    }

    line-height: 24px;
    color: $a-colors-black;
}

.a-text-bold {
    font: {
        size: 16px;
        weight: 700;
    }

    line-height: 24px;
    color: $a-colors-black;
}

.a-label {
    padding-bottom: 2px;

    font: {
        size: 13px;
        weight: 400;
    }

    line-height: 16px;
    color: $a-colors-gray;
}

.a-button {
    display: flex;
    align-items: center;

    padding: 10px 20px;

    font: {
        size: 14px;
        weight: 400px;
    }

    line-height: 24px;

    border-radius: 100px;
    background-color: #FFFFFF;
    border: 2px solid $a-colors-primary;
    transition: all 0.2s ease-in-out;
    
    outline: none;
    cursor: pointer;

    &_secondary {
        color: $a-colors-primary;

        &:hover {
            background-color: #6E41E20A;
        }
    }

    &_primary {
        border: none;
        color: #FFFFFF;
        background-color: $a-colors-primary;

        &:hover {
            background-color: #2AB5FD;
        }
    }
}

.a-badges {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: $a-colors-gray-light;
}

.a-input {
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
}

.a-mr-5 {
    margin-right: 5px;
}

.a-mr-18 {
    margin-right: 18px;
}

.a-mt-30 {
    margin-top: 30px;
}

.a-mb-10 {
    margin-bottom: 10px;
}

.a-mb-20 {
    margin-bottom: 20px;
}

.a-mb-60 {
    margin-bottom: 60px;
}

.a-mb-100 {
    margin-bottom: 100px;
}

.container {
    position: relative;

    height: 100%;
    min-height: 100vh;

    overflow: auto;
}

.header {
    display: flex;
    align-items: center;

    width: 100%;
    height: 76px;

    margin-bottom: 30px;

    box-shadow: 0px 1px 0px #1111111A;

    &__cover {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        max-width: 1366px;

        margin: 0 auto;
    }

    &__logo {
        position: absolute;
        left: 0;
        
        padding: 0 41px;
    }

    &__nav > a:first-child {
        margin-right: 24px;
    }
}

.footer {
    position: absolute;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 76px;
    margin-top: 20px;

    background-color: $a-colors-gray-medium;
    box-shadow: 0px 1px 0px #1111111A;

    &__content {
        font: {
            size: 13px;
            weight: 400;
        }
    
        line-height: 16px;
        color: #000000;
    }
}

.main {
    width: 100%;
    max-width: 616px;

    margin: 0 auto;
}

.forms {

    &__item {
        margin-bottom: 33px;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__row {
        display: flex;
        align-items: center;
    }
}

.input__field {
    padding: 8px 16px 6px;
    border-radius: 4px;
    border: 1px solid $a-colors-gray-light;

    &_short {
        width: 260px;
    }

    transition: all 0.2s ease-in-out;

    &:hover {
        box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 10px rgba(51, 51, 51, 0.16);
    }
}
